@model HandsomeHedgehogHoedown.Models.Department

@{
    ViewData["Title"] = "Details";
}

<h2>@Html.DisplayFor(model => model.Name)</h2>
<h5>Employees</h5>
<ul>
    @foreach(var emp in Model.Employees)
    {
        <li>@emp.FirstName @emp.LastName</li>
    }
</ul>
<a asp-action="Index">Back to Department List</a>
