@model IEnumerable<HandsomeHedgehogHoedown.Models.Department>

@{
    ViewData["Title"] = "Index";
}

<h2>Departments</h2>

<div class="container-fluid">
    @foreach (var item in Model)
    {
        <a asp-action="Details" asp-route-id="@item.DepartmentId">
            <div class="row">
                @Html.DisplayFor(modelItem => item.Name)
            </div>
        </a>
    }
</div>
<p>
    <a asp-action="Create">Create New</a>
</p>
