@model HandsomeHedgehogHoedown.Models.Computer

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

@*Authored by : Tamela Lerma*@

<form asp-action="Edit">
    <div class="form-horizontal">
        <h4>Computer</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="ComputerId" />
        <input type="hidden" asp-for="Manufacturer" />
        <input type="hidden" asp-for="Make" />
        <input type="hidden" asp-for="PurchaseDate" />
        <div class="form-group">
            
            <label asp-for="DecommissionedDate" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="DecommissionedDate" class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
